:root {
  --color-primary-soft-red: hsl(10, 79%, 65%);
  --color-primary-cyan: hsl(186, 34%, 60%);

  --color-primary-soft-red-hover: hsl(10, 79%, 75%);
  --color-primary-cyan-hover: hsl(186, 34%, 75%);

  --color-neutral-dark-brown: hsl(25, 47%, 15%);
  --color-neutral-medium-brown: hsl(28, 10%, 53%);
  --color-neutral-cream: hsl(27, 66%, 92%);
  --color-neutral-very-pale-orange: hsl(33, 100%, 98%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-off-white: hsl(0, 0%, 94%);
  --color-neutral-light-gray: hsl(0, 0%, 86%);
  --color-neutral-smokey-gray: hsl(0, 1%, 44%);
  --color-neutral-off-black: hsl(0, 0%, 8%);
}
